@{
    ViewBag.Title = "EmailView";
}

<div class="normalheader ">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                    <li>
                        <span>App views</span>
                    </li>
                    <li class="active">
                        <span>Mailbox</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Mailbox
            </h2>
            <small>Mailbox - Email list.</small>
        </div>
    </div>
</div>

<div class="content">

    <div class="row">
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">

                    <a href="mailbox_compose.html" class="btn btn-success btn-block m-b-md">Compose</a>

                    <ul class="mailbox-list">
                        <li>
                            <a href="#">
                                <span class="pull-right">12</span>
                                <i class="fa fa-envelope"></i> Inbox
                            </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-paper-plane"></i> Sent</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pencil"></i> Draft</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-trash"></i> Trash</a>
                        </li>
                    </ul>
                    <hr>
                    <ul class="mailbox-list">
                        <li>
                            <a href="#"><i class="fa fa-plane text-danger"></i> Travel</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart text-warning"></i> Finance</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-users text-info"></i> Social</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-tag text-success"></i> Promos</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-flag text-primary"></i> Updates</a>
                        </li>
                    </ul>
                    <hr>
                    <ul class="mailbox-list">
                        <li>
                            <a href="#"><i class="fa fa-gears"></i> Settings</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-info-circle"></i> Support</a>
                        </li>
                    </ul>


                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="hpanel email-compose">
                <div class="panel-heading hbuilt">

                    <div class="p-xs h4">
                        <small class="pull-right">
                            08:26 PM (16 hours ago)
                        </small>
                        Email view

                    </div>
                </div>
                <div class="border-top border-left border-right bg-light">
                    <div class="p-m">

                        <div>
                            <span class="font-extra-bold">Subject: </span>
                            Lorem Ipsum has been the industry's standard dummy text ever
                        </div>
                        <div>
                            <span class="font-extra-bold">From: </span>
                            <a href="#">example.email.com</a>
                        </div>
                        <div>
                            <span class="font-extra-bold">Date: </span>
                            14.10.2016
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div>
                        <h4>Hello Jonathan! </h4>

                        <p>
                            dummy text of the printing and typesetting industry. <strong>Lorem Ipsum has been the dustrys</strong> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                            <br /><br />All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
                            recently with.
                        </p>

                        <p>
                            Mark Smith
                        </p>
                    </div>
                </div>

                <div class="border-bottom border-left border-right bg-white p-m">
                    <p class="m-b-md">
                        <span><i class="fa fa-paperclip"></i> 3 attachments - </span>
                        <a href="#" class="btn btn-default btn-xs">Download all in zip format <i class="fa fa-file-zip-o"></i> </a>
                    </p>

                    <div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="hpanel">
                                    <div class="panel-body file-body">
                                        <i class="fa fa-file-pdf-o text-info"></i>
                                    </div>
                                    <div class="panel-footer">
                                        <a href="#">Document_2016.doc</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="hpanel">
                                    <div class="panel-body file-body">
                                        <i class="fa fa-file-audio-o text-warning"></i>
                                    </div>
                                    <div class="panel-footer">
                                        <a href="#">Audio_2016.doc</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="hpanel">
                                    <div class="panel-body file-body">
                                        <i class="fa fa-file-excel-o text-success"></i>
                                    </div>
                                    <div class="panel-footer">
                                        <a href="#">Sheets_2016.doc</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="panel-footer text-right">
                    <div class="btn-group">
                        <button class="btn btn-default"><i class="fa fa-reply"></i> Reply</button>
                        <button class="btn btn-default"><i class="fa fa-arrow-right"></i> Forward</button>
                        <button class="btn btn-default"><i class="fa fa-print"></i> Print</button>
                        <button class="btn btn-default"><i class="fa fa-trash-o"></i> Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>