@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "PasswordRecovery";
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>PASSWORD RECOVER</h3>
                <small>Please fill the form to recover your password</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <p>
                        Enter your email address and your password will be reset and emailed to you.
                    </p>
                    <form action="#" id="loginForm">
                        <div class="form-group">
                            <label class="control-label" for="username">Email</label>
                            <input type="text" placeholder="example@gmail.com" title="Please enter you email adress" required="" value="" name="username" id="username" class="form-control">
                            <span class="help-block small">Your registered email address</span>
                        </div>

                        <button class="btn btn-success btn-block">Reset password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>HOMER</strong> - Responsive WebApp <br /> 2015 Copyright Company Name
        </div>
    </div>
</div>
