

<connectionStrings>
  <add name="DefaultConnection"
connectionString="Data Source=coderfoundry.cloudapp.net,55555;
          Initial Catalog=hwarren-bugtracker;
          User Id=hwarren;
          Password=asim76811;
          Integrated Security=False"
       providerName="System.Data.SqlClient"
         />
</connectionStrings>