

<!--<connectionStrings>
    <add name="DefaultConnection"
       connectionString="Data Source=(LocalDb)\MSSQLLocalDB;
       Initial Catalog=hwarren-bugtracker;
       Integrated Security=True"
       providerName="System.Data.SqlClient"
       />
</connectionStrings>-->
  <appSettings>
    <add key="mailAccount" value="hawarren"/>
    <add key="mailPassword" value="Myp@ssword1"/>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="username" value="hanifwarren"/>
    <add key="password" value="haaswagoogle7681"/>
    <add key="emailto" value="hanifwarren@gmail.com"/>
    <add key="host" value="smtp.gmail.com"/>
    <add key="port" value ="465"/>
  </appSettings>