@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error in Warren's Demo";
}

<h1 class="text-danger">Something not great happened (but it's not your fault)</h1>
@*<h2 class="text-danger">An error occurred while processing your request.</h2>*@
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">Please let the site admin know so they can fix it.</h2>

