@{
    ViewBag.Title = "Contact the developer";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    169 Seymour Avenue Apt. 2<br />
    Newark, NJ 07108<br />
    <abbr title="Phone">P:</abbr>
    646.657.9403
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hanifwarren+dev@gmail.com">hanifwarren+dev@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:hanifwarren+dev@gmail.com">hanif.warren+dev@gmail.com</a>
</address>