@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hanif Warren's BugTracker Demo</h1>
    <p class="lead">An application I wrote from scratch, using .NET framework and related technologies (including C#, HTML, CSS and JavaScript, Bootstrap and jQuery).</p>
    @if (!Request.IsAuthenticated)
    {

        <p><a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Register and Log in</a></p>
    }
    else

    {

        <p class="btn btn-primary btn-lg">
            Now that you are logged in, be sure to check out Projects and Tickets,
            <br /> Using the sidebar on the left
            <br />(Select <i class="fa fa-bars"> Menu </i> to open the sidebar)
        </p>
    }
</div>

