@model IEnumerable<BugTrackerV4.Models.UsersViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Users and Roles</h2>
<p>
    @Html.ActionLink("View Users and Roles", "manageuserroles")
</p>
<p>
    @Html.ActionLink("Add Role", "AddUserRole")
</p>
<p>
    @Html.ActionLink("Remove Role", "RemoveUserRole")
</p>
